body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f8f6fd;
}

.container {
  z-index: 1;
  opacity: 0.85;
  margin: 60px auto;
  max-width: 900px;
}

.video-container {
  position: absolute;
  top: 0;
}

div.box {
  max-width: 600px;
  margin: 0 auto;
}

div.card-body {
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* search form */

.search-form {
  margin-bottom: 20px;
}

.form-control {
  display: inline;
}

.WeatherInfo {
  margin-bottom: 40px;
}

.WeatherInfo h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;

  color: #885df1;
}

.WeatherInfo li strong {
  color: #f65282;
  font-weight: normal;
}
.WeatherInfo .temperature {
  color: black;
  margin-left: 10px;
  font-size: 50px;
  line-height: 1;
}
.WeatherInfo li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 13px;
  line-height: 20px;
  list-style: none;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  height: 70px;
  width: 70px;
  vertical-align: top;
}

#temp-element {
  position: relative;
  top: 10px;
}

.unit {
  color: black;
  position: relative;
  top: -30px;
}

.col-sm-8 {
  margin-top: 70px;
  padding-right: 30px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}
.float-left {
  display: inline-block;
}
.units {
  position: relative;
  top: -34px;
}

/* buttons  */

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #885df1;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

#currentLocation {
  background-color: #fff;
  border: 1px solid #885df1;
  color: #885df1;
  text-decoration: none;
  transition: all 200ms ease;
}
#currentLocation:hover {
  color: #fff;
  background: #885df1;
}

/* forecast */

div.col {
  text-align: center;
}

.container-forecast {
  display: flex;
  justify-content: space-evenly;
}

#forecast-row {
  display: flex;
  justify-content: space-evenly;
}

div.forecast-day {
  font-size: 15px;
}

div.forecast-icon {
  font-size: 40px;
}

div.forecast-temp {
  font-size: 10px;
  color: #f75281;
}

div.rainy {
  font-size: 10px;
  color: gray;
}

.open-source {
  color: black;
  margin-left: 10px;
}
